body {
    font-family: Arial, sans-serif;
    margin: 50px;
    padding: 10px;
    color: #333;
    line-height: 1.6;
    background-image: url('image/dictatorship-oppression-collage-concept.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);

}
h1 {
    color: rgb(211, 224, 201);
    text-align: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    margin-bottom: 30px;
    

}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}
button:hover {
    background-color: #45a049;
}
p {
    font-size: auto;
    color: rgb(240, 244, 240);
    text-align: auto;
    padding: 10px;
    background-color: #555;
    border-radius: 8px;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: 3.10s;
    transform: translateY(-5px);
    margin: 20px;
    line-height: 1.6;
    max-width: 600px;

}
a {
    color: white;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    color: #ffcc00;
}
footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}
footer a {
    color: #ffcc00;
}o
footer a:hover {
    color: #ffff66;
}